<%- include("header.ejs")%>
    <div class="box" id="heading">
      <h1><%= Title %></h1>
    </div>
    <div class="box">
        <% for(let i=0;i<list.length;i++){ %>
          <div class="item">
            <input type="checkbox">
            <p><%=list[i] %></p>
        </div>
       <% } %>
      <form class="item" method="post" action="/">
        <input type="text" placeholder="New Item" name="newItem" autocomplete="off"/>
        <button type="submit" name="button" value=<%=Title %>>+</button>
      </form>
    </div>
<%- include("footer.ejs") %>